@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --background-color: #f8f9fa; /* Light grey background */
  --text-color: #343a40; /* Dark grey text */
  --primary-color: #007bff; /* Primary blue color */
  --secondary-color: #6c757d; /* Secondary grey color */
  --accent-color: #ffc107; /* Accent yellow color */
  --link-color: #0056b3; /* Link blue color */
  --hover-color: #0056b3; /* Hover blue color */
  --button-bg-color: #007bff; /* Button background color */
  --button-hover-bg-color: #0056b3; /* Button hover background color */
  --card-bg-color: #ffffff; /* White card background */
  --card-border-color: #dee2e6; /* Light grey card border */
  --font-family: 'Rubik', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: var(--accent-color);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: var(--text-color);
  margin: 0 0 10px 0;
}

p {
  line-height: 1.6;
  margin: 0 0 15px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

button {
  background-color: var(--button-bg-color);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
}

button:hover {
  background-color: var(--button-hover-bg-color);
}

.header {
  background-color: var(--secondary-color);
  padding: 20px 0;
  text-align: center;
  color: white;
}

.footer {
  background-color: var(--secondary-color);
  padding: 10px 0;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}

nav {
  background-color: var(--primary-color);
  padding: 10px 0;
}

nav a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: var(--hover-color);
}

.card {
  background-color: var(--card-bg-color);
  border: 1px solid var(--card-border-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

code {
  font-family: var(--secondary-font);
  background-color: var(--background-color);
  padding: 2px 4px;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  nav a {
    display: block;
    text-align: center;
  }

  .card {
    margin: 10px 0;
  }
}
